@model IEnumerable<AbayMVC.ItemServiceReference.Item>

@{
    ViewBag.Title = "Showcase";
}

<h2>Listing</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinningBid.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinningBid.BuyerName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningBid.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningBid.BuyerName)
            </td>
            <td>
                @Html.ActionLink("Bid", "Bid", "Item", new { itemId = item.Id }, null)
            </td>
        </tr>
    }

</table>
