@model IEnumerable<AbayMVC.ItemServiceReference.Bid>

@{
    ViewBag.Title = "OldBids";
}

<h2>OldBids</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuyerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
        </tr>
    }

</table>

<a href="@Url.Action("Bid", "Item", new { itemId = Model.First().ItemId})"><span> Go back </span></a>
