@using AbayMVC.Security

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="container" id="banner">
        <div class="container" style="text-align:center">
            <p style="font-size: 10px;color:#8D8D8D; margin:6px 0 7px 0;">Free shipping for all aBayPlus members. Get your membership today for only $12</p>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top" id="topnavbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/" class="navbar-left">
                    <img style="margin: 5px 0 0 0;" src="~/Images/Logos/new_abay_logo.png" width="125" />
                </a>
                <!--Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { class = "navbar-brand" })-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    <li>@Html.ActionLink("Listing", "Listing", "Item")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (!string.IsNullOrEmpty(SessionPersister.Token))
                    {
                        <li>@Html.ActionLink("Sell", "Sell", "Item")</li>
                    }


                    @using (Html.BeginForm("Listing", "Item", FormMethod.Get))
                    {
                        <li class="input-group" style="display: flex;padding: 16px 0 0 10px;">

                            <input type="text" class="form-control" name="search-text" placeholder="Search for anything" size="35">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Search</button>
                            </span>

                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>

    <div class="container body-content">
        @{ Html.RenderPartial("_Alerts"); }
        @RenderBody()
    </div>
    <div class="container" style="box-sizing: content-box; background-color: #fff;padding-top:10px;">
        <footer>
            <table>
                <tr>
                    <td>
                        <ul class="nav navbar-nav" id="footer_nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            @if (!string.IsNullOrEmpty(SessionPersister.Token))
                            {
                                <li>@Html.ActionLink("Sell", "Sell", "Item")</li>
                            }
                            <li>@Html.ActionLink("Overview", "Overview", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </td>
                </tr>
            </table>
            <p style="font-size: 11px">Copyright &copy; @DateTime.Now.Year aBay. All Rights Reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>